*{
    margin: 0;
    padding: 0;
}
.bgr{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#041B15 ,#136F63, #22AAA1, #4CE0D2, #84CAE7);
    background-size: 400% 400%;
    filter: blur(2px);
    position: relative;
    -webkit-filter: blur(2px);
    animation: anim 8s ease-in-out infinite ;
    -webkit-animation: anim 8s ease-in-out infinite ;
}

.circle:hover{
    height: 10%;
}

.circle:hover > #idk{
    top:40%;
    color: aliceblue;
}
.circle:hover{
    background-color: #4ce06c;
}
.circle{
    width: 10%;
    transition: all 0.5s;
    text-align: center;
    box-shadow: #041B15 2px 2px 4px;
    height: 13%;
    background-color: aliceblue;
    border: #4ce06c solid;
    position: fixed;
    top: 40%;
    left: 33%;
    z-index: 6;
    border-radius: 11%;
    -webkit-border-radius: 11%;
    -moz-border-radius: 11%;
    -ms-border-radius: 11%;
    -o-border-radius: 11%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#idk{
    position: relative;
    transition: all 0.5s;
    top: 40%;
    font-family:joseslim2;
    font-size: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
@keyframes anim{
    from{
       background-position: 0 50%; 
    }
    50%{
        background-position: 100% 50%;
    }
    to{
        background-position: 0 50%;
    }
}



#info{
    position: fixed;
    top: 43%;
    left: 61%;
    font-family: joseslim;
    font-size: smaller;
    transition: all;
    font-weight: lighter;
    letter-spacing: 1px;
    color: red;
    text-shadow: #22AAA1 1px 1px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}
#rezistenta{
    color: aliceblue;
    text-shadow: #041B15 2px 2px;
    font-family: joseslim2;
    font-size: 50px;
    position: fixed;
    top: 40%;
    display: flex;
    left: 45%;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}



#credits{
    font-family: joseslim;
    color: black;
    text-shadow: #22AAA1 1px 1px;
    font-size: 30px;
    font-weight: lighter;
    position: fixed;
    top: 45%;
    left: 45%;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}
#credits:hover{
    letter-spacing: 5px;
}

@font-face {
    font-family: "joseslim2";
    src: url(joseslim2.ttf);
}


@font-face {
    font-family: "joseslim";
    src: url(joseslim.ttf);
}

h5{
    position: fixed;
    top: 50%;
    font-family: joseslim;
    font-size: 15px;
    text-align: center;
    left: 70%;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}

@media only screen and (max-width: 600px) {
    #rezistenta{
        font-size: 30px;
        left: 25%;
    }
    #credits{
        font-size: 15px;
        left: 25%;
    }
    h5{
        font-size: 6px;
        top: 1%;
        right: 1%;

    }
    .circle{
        top:60%;
        width: 120%;
        left: -10%;
    }
    #idk{
        top: 35%;
    }
}

@media only screen and (max-width: 1050px) {
    #rezistenta{
        left: 5%;
    }
    #credits{
        left: 5%;
    }
    h5{
        top: 1%;
        right: 1%;
        font-size: 7px;
    }
}
