*{
    margin: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
*:hover{
    cursor: default;
}
body{
    background-image: linear-gradient(-45deg, #9AFCDF, #38B0E8, #4A74DC );
    background-size: 400% 400%;
    animation: gradient 4s ease-in-out infinite alternate;
    -webkit-animation: gradient 4s ease-in-out infinite alternate;
}
@keyframes gradient{
    from{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    to{background-position: 0% 50%;}
}

.content{
    max-width: 70%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
}
.primul:hover{
    border-bottom: #000000 solid 1px;
}
.doisitrei{
    display: flex;
    align-items: flex-start;
    background-color: #e0f2f5;

}
.aldoilea{
    flex: 1;
}
.altreilea{
    flex: 1;
}
.doisitrei:hover{
    border-bottom: #000000 solid 1px;

}
::-webkit-scrollbar-{ 
    background: transparent;
}
.primul{
    background-color: #72d3d4;
}




h1{
    text-align: center;
    font-size: 50px;
    font-family: joseslim;
    text-transform: uppercase;
    padding-top: 4%;
    color: #ffffff;
    text-shadow: #000000 1px 1px, #000000 -0.5px -0.5px;
}
.jos{
    text-align: center;
    text-transform: capitalize;
    font-family: joseslim2;
    letter-spacing: 4px;
    background-color: #ffffff;
}
.jos h3{
    color: #000000;
}
h1:hover{
    letter-spacing: 4px;
}

h3{
    position: relative;
    top: 0%;
    color: rgb(0, 0, 0);
    font-family: joseslim2;
    font-size: 25px;
    color: #ffffff;
    text-shadow: #000000 1px 1px;
    padding: 5%;
    padding-bottom: 2%;
    padding-top: 4%;
    word-wrap: break-word;
}
@font-face {
    font-family: "joseslim2";
    src: url(joseslim2.ttf);
}
h3:hover{
    font-size: 200%;
}
.altreilea h1{
    color: #000000;
    text-shadow: white 1px 1px;

}
.altreilea h3{
    color: #000000;
    text-shadow: white 1px 1px;

}

.alpatrulea{
    background-color: #38B0E8;
}
@font-face {
    font-family: "joseslim";
    src: url(joseslim.ttf);
}
.main{
    background-color: #ffffff;
}
.main h1{
    color: #000000;
    text-shadow: #38B0E8 2px 2px;
}
.alcincilea{
    background-color: #1b263f;
}
.alcincilea h1{
    color: #38B0E8;
    text-shadow: #e0f2f5 2px 2px;
}
.alcincilea h3{
    color: #38B0E8;
    text-shadow: #e0f2f5 1px 1px 2px;

}
@media only screen and (max-width: 1050px) {
    h1{
        font-size: 15px;
    }
    h3{
        font-size: 10px;
    }
    .content{
        margin: 0;
        max-width: 100%;
    }
    .alpatrulea{
        margin: 0;
    }
    h3:hover{
        font-size: 120%;
    }
}
